<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="ModalOptions" class="ModalOptions">
        <a
          ><button onclick="dowloadDirectory()" class="btnOption">
            <i
              class="fa-solid fa-download fa-flip-horizontal fa-sm"
              style="color: #1e3050"
            ></i>
            Baixar
          </button></a
        >
        <a
          ><button onclick="showModalFolderName()" class="btnOption">
            <i class="fa-solid fa-pencil fa-sm" style="color: #1e3050"></i>
            Renomear
          </button></a
        >
        <a
          ><button onclick="deleteFolder()" class="btnOption">
            <i class="fa-solid fa-trash fa-sm" style="color: #1e3050"></i
            >Deletar
          </button></a
        >
      </div>
</body>
</html>