<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="AddModalContract" id="AddModalContract">
        <div class="labelinput">
          <form th:action="@{/contract}" method="post">
            <div class="form">
              <label for="title">Nome do Contrato</label>
              <input type="text" name="title" id="title" class="inputmodal" maxlength="33"/>
              <label for="time">Prazo</label>
              <input type="date" name="time" id="time" class="inputmodaldate" />
              <label for="clientLogin">Cliente do Contrato</label>
              <input list="clientLoginOptions" type="text" name="client.login" id="clientLogin" class="inputmodal" />
              <datalist id="clientLoginOptions">
                <option th:each="user : ${users}" th:value="${user.login}">
                  [[${user.login}]]
                </option>
              </datalist>
            </div>

            <div class="actions">
              <button type="submit" class="savebtn">Salvar</button>
              <p onclick="hideModalContract()">Sair</p>
            </div>
          </form>
        </div>
      </div>
</body>
</html>