<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/css/components/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/components/header.css}" />
    <link rel="stylesheet" th:href="@{/css/components/darkTheme.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/a56b5a1294.js" crossorigin="anonymous"></script>
    <title>Diretórios</title>
</head>
<body>
    <!-- Agrupa os elementos que compõe o cabeçalho. -->
    <div th:replace="~{fragments/header :: header}"></div>



    	<!-- Agrupa links de navegação no site. -->
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
    <main>
        <section id="principal">
            <section id="right">
                <img id="imageProfile" th:if="${imageProfile != null}" th:src="'data:image/png;base64,' + ${imageProfile}" alt="Foto de Perfil do Usuário" />
                <img id="imageProfile-none" th:unless="${imageProfile != null}" th:src="@{/icones/LogosGrupoNovaesApp.png}" alt="Ícone de Usuário Padrão" />
                
                <button id="uploadButton" class="CartBtn">
                    <p class="textBtnAccContract">Trocar foto de Perfil</p>
                </button>
                <input type="file" id="fileInput" style="display: none;" />
                <input type="hidden" id="userId" th:value="${user.id}" />
            </section>
            
            


            <section id="left">
                <h1>Meu Perfil</h1>
                <form id="forms" method="post" th:action="@{/user/editProfile}">
                    <div class="names">
                        <input class="inputs-name" placeholder="Nome" th:value="${user.name}" name="name">
                        <input class="inputs-name" placeholder="Sobrenome" th:value="${user.lastname}" name="lastname">
                    </div>
                    <input class="inputs" placeholder="Email" th:value="${user.login}" name="login">

                    <select name="role" class="inputs" id="role" onchange="toggleFields()">
                        <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">administrador</option>
                        <option value="EMPLOYEE" th:selected="${user.role == 'EMPLOYEE'}">funcionario</option>
                        <option value="USER" th:selected="${user.role == 'USER'}">cliente</option>
                    </select>
                    
                    <input class="inputs" placeholder="Trocar Senha" name="password">
                    <input class="inputs" placeholder="Confirmar Senha" name="passwordConfirm">

                    <button class="CartBtnEdit">
                        <p class="textBtnAccContract">Alterar Informações de Perfil</p>
                    </button>
                </form>
            </section>
        </section>
    </main>
</div>
    </div>

</body>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/darkTheme.js}"></script>
<script th:src="@{/js/logout.js}"></script>
</html>
