<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" th:href="@{/css/components/header.css}" />
    <link rel="stylesheet" th:href="@{/css/components/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/components/darkTheme.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/a56b5a1294.js"
      crossorigin="anonymous"
    ></script>
    <title>Usuários</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
      <main role="main" class="main">
        <div class="headerTable">
          <div class="container-input">
            <input
              type="text"
              placeholder="Buscar por nome"
              name="text"
              class="input"
              id="searchInput"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20px"
              height="20px"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1e3050"
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </div>

          <a href="/user/addUser" style="text-decoration: none">
            <div class="btnCreate">
              <button class="CartBtn">
                <span class="IconContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 576 512"
                    fill="rgb(17, 17, 17)"
                    class="cart"
                  >
                    <path
                      fill="#989EA7"
                      d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                    />
                  </svg>
                </span>
                <p class="text">Adicionar Usuário</p>
              </button>
            </div>
          </a>
        </div>

        <div class="table-container">
          <table>
            <thead>
              <tr class="trHead">
                <th class="tdIcon"></th>
                <th class="tdName">Nome</th>
                <th class="tdSobrenome">Sobrenome</th>
                <th class="tdLogin">Email</th>
                <th class="tdTelefone">Telefone</th>
                <th style="border: none; height: 40px; width: 40px; border-radius: 15px; background-color: none;"></th>
              </tr>
            </thead>
            <tbody id="userTableBody">
              <tr
                th:each="user : ${listContacts}"
                th:data-id="${user.id}"
                th:data-name="${user.name}"
                th:data-lastname="${user.lastname}"
                th:data-login="${user.login}"
                th:data-phoneNumber="${user.phoneNumber}"
                th:data-role="${user.role}"
                class="userItem"
              >
                <td class="tdIcon">
                  <img
                    class="profilePhotoIcon"
                    th:if="${user.profilePhoto != null}"
                    th:src="'data:image/png;base64,' + ${user.getProfilePhotoBase64()}"
                    alt="Foto de Perfil do Usuário"
                  />
                  <img
                    class="profilePhotoIcon"
                    th:if="${user.profilePhoto == null}"
                    th:src="@{/icones/LogosGrupoNovaesApp.png}"
                    alt="Foto de Perfil Padrão"
                  />
                </td>
                <td th:text="${user.name}" class="tdName"></td>
                <td th:text="${user.lastname}" class="tdSobrenome"></td>
                <td th:text="${user.login}" class="tdLogin"></td>
                <td th:text="${user.phoneNumber}" class="tdTelefone"></td>
                <td style="white-space: nowrap">
                  <button
                    style="
                      border: none;
                      height: 40px;
                      width: 40px;
                      border-radius: 15px;
                      background-color: none;
                    "
                    onclick="showModalActionsUser(this)"
                  >
                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        
        <div th:replace="fragments/interfaces/user/modalOptnsUser :: div"></div>

        <div th:replace="fragments/interfaces/user/modalEditUser :: div"></div>
      </main>
    </div>

    <script th:src="@{/js/darkTheme.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
    <script th:src="@{/js/user.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
  </body>
</html>
