* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
  }
  
  header,
  nav,
  main,
  aside,
  footer {
    background: #D1E6E9;
    display: flex;
  
  }
  
  header {
    height: 100px;
    flex: 1 1 100vw;
  }
  
  header #logo {
    margin-right: 190px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  #links{
      margin-right: 200px;
      display: flex;
      align-self: center;
      font-size: 10pt;
      justify-content: center;
      text-align: center;
  }
  .a_links{
      margin-inline: 0 20px;   
  }
  #icones{
      display: flex;
      align-self: center;
      filter: opacity(100%);
  }
  #icones a{
      margin-inline: 0 20px;
      text-decoration: none;
  }
  #icones a :hover{
      opacity: 0.7;
  }
  
  .dropbtn {
      color: #007B8F;
      font-size: 13px;
      border: none;
      cursor: pointer;
      margin-right: 15px;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: #007B8F;
      padding: 20px 20px;
      text-decoration: none;
      display: flex;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      color: #76bfcc;
    }
  
    #a{
      text-decoration: none;
      color: #007B8F;
  }
  
  #open,
  #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
  }
  
  nav {
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
    height: 900px;
    flex-direction: column;
  }
  
  nav a {
    font-size: 12pt;
    text-decoration: none;
    color: #007B8F;
    margin: 20px;
  }
  
  nav a:hover {
      height: 50px;
      width: 150px;
      background-color: #5EA3B4;
      color: white;
      border-radius: 10px;
      padding: 5px;
      justify-content: center;
      align-items: center;
  }
  
  main {
    display: flex;
    height: calc(100vh - 224px);
    flex: 20 1 500px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  #principal{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: space-between;
  }
  #right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #forms{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
  }
  #imageProfile{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 150px;
  }
  #imageProfile-none{
  	width: 250px;
    height: 250px;
    border-radius: 150px;
    padding:10px;
    background-color: #e6e6e6;
    border: 1px solid #adadad;
  }
  
  .inputs{
    width: 750px;
    height: 50px;
    border: none;
    background-color: #d8d8d8;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .inputs-name{
    width: 373px;
    height: 50px;
    border: none;
    background-color: #d8d8d8;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  #saveButton{
    border: none;
    background-color: #76bfcc;
    color: #fff;
    width: 350px;
    height: 35px;
    border-radius: 10px;
    margin-top: 40px;
    display: none;
  }
  #alterProfilePhoto{
    border: none;
    background-color: #007B8F;
    color: #fff;
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-top: 5px;
  }

  @media only screen and (max-width: 923px) {
    main {
      height: calc(100vh - 330px);
    }
  
    aside {
      height: 100px;
    }
  }
  @media only screen and (max-width: 717px) {
    #openMenu,
    #closeMenu {
      display: block;
    }
  
    #openMenu {
      margin-left: auto;
    }
  
    #closeMenu {
      position: fixed;
      right: 15px;
      top: 15px;
    }
  
    nav {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(255, 255, 255, 0.8);
      align-items: center;
      justify-content: center;
      margin: 0;
      display: none;
      opacity: 0;
      transition: 0.3s;
    }
  }