
main {
  margin-left: 100px;
  padding: 20px;
  transition: margin-left 0.3s; /* Transição suave para a mudança de margem */
  overflow: hidden;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.headerTable {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: 20px;
  margin: 5px;
  justify-content: space-between;
  padding: 2px;
}

.container-input {
  width: 50%;
  position: relative;
}

.input {
  height: 30px;
  width: 80%;
  padding: 10px 0px 10px 40px;
  border-radius: 5px;
  border: solid 1px #b5b5b5;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  width: 250px;
  border: solid 2px #b5b5b5;
}

.btnAddUser {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.CartBtn {
  width: 175px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1e3050;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.textBtn {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .5s;
  margin-top: 15px;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

.profilePhotoIcon{
    width: 50px;
    height: 50px;
    border-radius: 70px;
    border: 0.5px solid rgba(0, 0, 0, 0.658);
}


.table-container {
  max-height: 60%; 
  width: 100%;
  overflow-x: scroll; /* Permite scroll horizontal em telas menores */
  border-radius: 5px;
  background-color: #f3f3f3;
  border: solid 1px rgba(0, 0, 0, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #1e3050;
}


table thead {
  background-color: #e0e0e0;
}


table,
th,
td {
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Evita quebra de linha dentro das células */
}

.contractItem:hover {
  background-color: #a2a2a2;
  cursor: pointer;
}

.userItem:hover {
  background-color: #a2a2a2;
  border-radius: 0;
}

.table-container::-webkit-scrollbar {
  height: 0px;
  width: 3.5px;
}
.table-container::-webkit-scrollbar-track {
  background-color: #50535a;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #D1E6E9;
}

#srch {
  margin: 10px auto;
  width: 400px;
  text-align: right;
}

#floatingInputGroup1 {
  width: 100%;
  max-height: 100px;
}






.buttonBackDirectory {
  border: none;
  background:none;
  margin-left: 2px;
}

.ContainerlistParentDirectory {
  height: 90%;
}

.listParentDirectory {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.buttonBackDirectory {
  font-size: 22pt;
}

.theme-switch {
  width: 96%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  margin-top: 5px;
}

#theme-checkbox {
  display: none;
}

#theme-checkbox + label {
  /* change the font-size below to change the size of the switch button*/
  font-size: 2rem;
  height: 1em;
  width: 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #cecece;
  position: relative;
}

#theme-checkbox:checked + label {
  background-color: #3a3a3a;
}

#theme-checkbox + label:active {
  transform: scale(0.85);
  transition: transform 0.2s;
}

#theme-checkbox + label div {
  width: 0.8em;
  height: 0.8em;
  border-radius: inherit;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  z-index: 10;
  transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
  background-color: #f2f2f2;
}

#theme-checkbox:checked + label div {
  /* left: calc(2.5em - .8em - .1em); */
  left: 1.6em;
  background-color: #212121;
}

#theme-checkbox + label span {
  display: flex;
}

#theme-checkbox + label svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0.15em;
  box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
  color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
  color: #cecece;
}



.ModalOptions {
  width: 120px;
  height: auto;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #F9F9F9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 0px 2px rgba(0,0,0,0.2);
  z-index: 1000;
}

.ModalOptions .btnOption {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  color: #1e3050;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.ModalOptions .btnOption:last-child {
  border-bottom: none;
}

.ModalOptions .btnOption:hover {
  background-color: #c4c4c4;
  border-radius: 5px;
}


.EditModalUser {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 350px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 1.5px 1.5px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  background-color: #f9f9f9;
  color: #1e3050;
  overflow: scroll;
}

.EditModalUser label,
.EditModalUser input,
.EditModalUser button,
.EditModalUser p {
  display: block;
  margin: 10px 0;
}

.EditModalUser button,
.EditModalUser p {
  cursor: pointer;
}

.EditModalUser .actions {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.EditModalUser .form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 45px;
}

.EditModalUser .labelinput {
  position: relative;
  padding-left: 45px;
}

.EditModalUser .savebtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1e3050;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inputRenameContract {
  height: 30px;
  width: 200px;
  padding: 10px 0px 10px 40px;
  border-radius: 5px;
  border: solid 1px #b5b5b5;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}
.inputRenameContract:focus {
  opacity: 1;
  width: 220px;
}

.EditModalUser .ModalTitle {
  font-size: large;
  text-align: center;
}

.inputlabel {
  height: 30px;
  width: 200px;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
  border: solid 1px #b5b5b5;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  align-items: center;
}
.inputSelection{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px #b5b5b5;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.inputlabel:focus {
  border: solid 2px #b5b5b5;
  width: 220px;
}

.EditModalUser .ModalTitle {
  font-size: large;
  text-align: center;
}


.EditModalUser::-webkit-scrollbar {
  height: 0px;
  width: 3.5px;
}

.EditModalUser::-webkit-scrollbar-track {
  background-color: #b8b8b8;
  border-radius: 5px;
}

.EditModalUser::-webkit-scrollbar-thumb:hover {
  height: 25px;
  background-color: #1e3050;
}


