<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <title>Login</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <main>        
            <section id="form_main">
                <form th:action="@{/login}" id="campos" method="post">
                
                <h1 id="h1novaes">Login</h1>
                
                        <div th:if="${param.error}" class="error-card">
                            <p class="error-message">Usuário e senha inválidos</p>
                        </div>
                        
                        <div id="inputs">
                        	<input type="email" id="ipt" name="email" placeholder="Email" required><br><br>
                        	<input type="password" id="ipt" name="password" placeholder="Senha" required><br><br>

                            <input class="caixaCheckBox" type="checkbox" id="manterConectado" name="rememberMe" >
                            <label for="manterConectado" class="checkBox">Mantenha-me conectado</label><br><br>

                        </div>
                
                
                    <button id="btn_login" class="button entrar">Entrar</button>
                
                </form>
                <button type="button" class="btn_input" id="btn_funcionario"><a id="link_cadastro" th:href="@{/user/loginEmployee}">Sou Funcionário</a></button>
            </section>
            
    </main>     
    
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>